body {
  margin: 0;
  background: gray;
  display: flex;
  justify-content: space-around;
}

canvas {
  width: 46.18vh;
  height: 100vh;
}

main canvas {
  z-index: -1;
  opacity: 1;
}

main {
  width: 46.18vh;
  height: 100vh;
}

/* Show only 3D view, with touch controls from 2D view, on mobile devices */
@media only screen
  and (max-device-width: 812px)
  and (orientation: portrait) {
    canvas {
      position: absolute;
      opacity: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
}

#points {
  font-size: 4vh;
  color: white;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}