body {
  margin: 0;
  width: 100%;
}

canvas {
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0; /* Set to 0 to hide */
}

main canvas {
  left: 0;
  z-index: -1;
  opacity: 1;
}

main {
  width: 100vw;
  height: 100vh;
  float: right;
}
