body {
  margin: 0;
  background: gray;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

canvas {
  width: 46.18vh;
  height: 100vh;
}

main canvas {
  z-index: -1;
  opacity: 1;
}

main {
  width: 46.18vh;
  height: 100vh;
}

/* Show only 3D view, with touch controls from 2D view, on mobile devices */
@media only screen
  and (max-device-width: 812px)
  and (orientation: portrait) {
    canvas {
      position: absolute;
      opacity: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
}

#points {
  position: absolute;
  bottom: 3.5vh;
  right: 22vw;
  font-size: 6vh;
  text-align: right;
}

#menu {
  position: absolute;
  margin: 0;
  top: 40vh;
  font-size: 6vh;
  text-align: center;
}

.small {
  font-size: 4vh;
}

.hidden {
  visibility: hidden;
}

#restartButton:hover {
  font-size: 8vh;
}